body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.container {
    position: relative;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.texto-titulo {
    text-align: center;
    color: #FFFFFF;
}

.texto-subtitulo {
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
}

.titulos {
    color: #007427;
}

footer {
    background-color: #555555;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 100px;
}

.abelha-imagem-padrao {
    max-height: 200px;
    width: 270px;
}

.titulo-nome-abelha{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align: start;
    font-size: x-large;
}

body.sidebar-open {
    overflow: hidden;
}

nav {
    background: #9AB560;
    height: 80px;
    width: 100%;
    position: relative;
    z-index: 1;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    align-items: center;
    color: white;
    padding: 0;
    text-transform: uppercase;
}

nav ul li a img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

a.active, a:hover {
    background: #447d3d;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.checkbtn {
    display: block;
}

ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #488341;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

ul li {
    display: block;
}

ul li a {
    font-size: 20px;
}

a:hover, a.active {
    background: none;
    color: #5bb8ff;
}

#check:checked ~ ul {
    left: 0;
}

nav ul li#home {
    width: 100%;
    margin-bottom: 10px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}