@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Rubik+Bubbles&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.texto-titulo {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

.texto-subtitulo {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
}

.titulos {
    color: #007427;
}

footer {
    background-color: #1C1C1E;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 100px;
    border-bottom: 5px solid #bbdc74;
}

.oficinas-imagem-padrao{
    height: 300px;
    width: 300px;
}

.imagem-padrao {
    height: 200px;
    width: 270px;
}

.titulo-padrao{ /* antigo titulo-nome-abelha*/
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align: start;
    font-size: x-large;
}

#borda{  
    border: 3px solid #007427;
    border-radius: 15px;
}
.link-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.link-button:hover {
    background-color: #07720c;
}

.nav-img {
    width: 40px;
    height: auto;
    margin-right: 5px;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    text-align: center;
}

.navbar {
    background: #bbdc74;
    padding-bottom: 0;
    margin-bottom: 0;
}

.navbar-toggler {
    border: none
    
}

@media (min-width: 768px) {
    .borda-footer {
        border-right: 2px solid #FFFFFF;
        border-bottom: none;
    }
}

@media (max-width: 767px) {
    .borda-footer {
        border-right: none;
        border-bottom: 2px solid #FFFFFF;
        margin-bottom: 20px;
    }
}

.border-top {
    border-top:var(--bs-border-style) #1C1C1E!important;
}

.footer-logo{
    text-decoration: none;
}

a img { /*estilo pra mudar o brilho da imagem quando passar com o mouse por cima do "forms" */
    transition: filter 0.3s ease;
}a:hover img {
    filter: brightness(80%);
}