.pagina-angico-vermelho{
    background-image: url("/front-end/imgs/angico-vermelho-header.jpg");
    background-size: cover;
    background-position: top center;
    height: 400px; 
}

.pagina-principal{
    background-image: url("/front-end/imgs/pagina-principal.png");
    background-size: cover;
    background-position: top center;
    height: 400px; 
}
.p_voluntario{
    background-image: url("/imgs/p_voluntario.jpg");
    background-size: cover;
    background-position: top center;
    height: 400px; 
}