body {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.texto-titulo {
    text-align: center;
    color: #FFFFFF;
}

.texto-subtitulo {
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
}

.titulos {
    color: #007427;
}

footer {
    background-color: #555555;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 100px;
}